@import "../../GlobalStyles/abstract";
@import "../../GlobalStyles/variables";

.singleItem-container {
  display: flex;
  width: 25.8rem;
  height: auto;
  margin: 1rem auto;
  background: $dark;
}

.singleItem {
  flex: 4;
  align-self: center;
  width: 22.1rem;
  padding: .5rem;
  //margin: 1rem auto;
  background: $dark;
  color: $white;
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  @include respond(md) {
    font-size: 1.5rem;
  }

  input {
    margin-left: .5rem;
  }

  label {
    margin-left: .5rem;
  }

  img:hover {
    background: $coral;
    cursor: pointer;
  }
}

.checked {
  text-decoration: line-through;
  color: $coral;
}