@import "../../GlobalStyles/abstract";
@import "../../GlobalStyles/variables";

.singleItem {
  width: 24.5rem;
  padding: .5rem;
  margin: .5rem auto;
  background: $dark;
  color: $white;
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  @include respond(md) {
    font-size: 1.5rem;
  }

  input {
    margin-left: .5rem;
  }

  label {
    margin-left: .5rem;
  }

  img {
    display: block;
    float: right;
    height: 1rem;
    width: auto;
    margin-right: .5rem;
    margin-top: .3rem;
  }
}

.checked {
  text-decoration: line-through;
  color: $coral;
}