@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Libre+Barcode+128+Text');
@import "GlobalStyles/variables";

body {
  box-sizing: border-box;
  background: $dark;
  max-width: 100vw;
  max-height: 100vh;
}

textarea {
  padding: .5rem;
  border: none;
}